@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .nav a {
    background-color: transparent;
    color: var(--color-text);
    border-bottom: none;
    border-radius: 0.25rem;
  }

  #menu {
    display: none;
  }

  .section-container {
    grid-template-columns: 2fr 1fr;
  }

  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-section p {
    padding: 4rem;
  }
}

@media (min-width: 1024px) {
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
